.auth-form__container {
  width: 100%;
  height: 100%;
  animation: fadeIn .3s linear;
  display: flex;
  justify-content: center;
}

.auth-form {
  flex-direction: column;
  height: 80%;
  width: 80%;
  font-size: 14px;
}

.auth-form__input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.auth-form__input label {
  display: flex;
  margin-right: 10px;
  vertical-align: center;
  align-items: center;
}

.auth-form__input input {
  width: 100%;
  font-size: 18px;
}

.auth-form__input input::placeholder {
  text-align: center;
}

.auth-form__google-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid #FF0800;
  background-color: transparent;
  line-height: 3rem;
  margin-bottom: 2px;
  border-radius: 5px;
  font-size: 16px;
  color: #2D333F;
  cursor: pointer;
}

.auth-form__google-button span {
  height: 100%;
  margin: 10px 10px -10px 0;
}

.auth-form__google-icon {
  font-size: 29px;

}

.auth-form__submit-button {
  color: #FFFBF1;
  background-color: #FF0800;
  font-size: 16px;
  padding: 0 5px;
  border: 2px solid #FF0800;
  border-radius: 4px;
  cursor: pointer;
  line-height: 3rem;
  width: 100%;
  margin-bottom: 2px;
}

.auth-form__swap-link {
  text-decoration: none;
  margin: 0 5px;
  color: #FF0800;
}

.auth-form__terms-link {
  font-size: 10px;
  font-weight: bold;
  margin: 0 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .auth-form {
    font-size: 18px;
  }
}
