@import "app.css";
@import "authForm.css";
@import "businessCard.css";
@import "footer.css";
@import "home.css";
@import "navbar.css";
@import "modal.css";
@import "queryCard.css";
@import "restaurant.css";
@import "restaurantsList.css";
@import "review.css";


html {
  height: 100%;
  background-color: #FFFBF1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  background-color: #FFFBF1;
  color: #2D333F;
}
