.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFBF1;
  border-bottom: 1px solid #F1F2F4;
  height: 4rem;
  padding: 0 16px;
}

.navbar__site-brand {
  height: 100%;
  width: 15%;
}

.navbar__site-brand-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__site-brand-logo {
  width: 32%;
  cursor: pointer;
}

.navbar__site-brand-name {
  width: 68%;
  margin-bottom: 10px;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.navbar__nav-link {
  text-decoration: none;
  color: #2D333F;
}

.navbar__auth-container {
  display: flex;
  flex-direction: row;

}
.navbar__login,
.navbar__signup {
  margin: 0 5px;
}

.navbar__login button{
  color: #2D333F;
  background-color: transparent;
  border: 2px solid #2D333F;
  font-size: 16px;
  padding: 0 10.34px;
  cursor: pointer;
  line-height: 1.75rem;
  border-radius: 4px;
}

.navbar__signup button {
  color: #FFFBF1;
  background-color: #B21807;
  font-size: 16px;
  padding: 0 5px;
  border: 2px solid #B21807;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.75rem;
}

.profile-button__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.profile-button__container ul {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: rgba(255, 251, 241, 0.5);
  list-style-type: none;
  padding-bottom: 334px;
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding-top: 2px;
  padding-right: 30px;
  text-align: end;
}

.profile-button__container ul > li {
  margin: 2px 0;
  font-weight: 700;
}

.profile-button__container > button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
  /* color: #2D333f; */
  color: #00483D;
  padding-top: 7px;
}

.profile-button__picture {
  border-radius: 50%;
  height: 3rem;
  margin-top: 7px;
}

.profile-button__container li > button {
  background-color: #B21807;
  color: #FFFBF1;
  border-radius: 4px;
  height: 30px;
  margin-right: 4px;
}
