.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFBF1;
  border-bottom: 1px solid #F1F2F4;
  height: 4rem;
  padding: 0 16px;
}

.navbar__site-brand {
  height: 100%;
  width: 30%;
}

.navbar__site-brand-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__site-brand-logo {
  height: 75%;

}

.navbar__site-brand-name {
  height: 225%;
  padding-top: 3px;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.navbar__nav-link {
  text-decoration: none;
  color: #2D333F;
}
