.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFBF1;
  border-bottom: 1px solid #F1F2F4;
  height: 4rem;
  padding: 0 16px;
}

.navbar__site-brand {
  height: 100%;
  width: 30%;
}

.navbar__site-brand-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__site-brand-logo {
  height: 75%;

}

.navbar__site-brand-name {
  height: 225%;
  padding-top: 3px;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.navbar__nav-link {
  text-decoration: none;
  color: #2D333F;
}

.navbar__buttons {
  display: flex;
  flex-direction: row;

}
.navbar__login-button,
.navbar__signup-button {
  margin: 0 5px;
}

.navbar__login-button button{
  color: #2D333F;
  background-color: transparent;
  border: 2px solid #2D333F;
  font-size: 16px;
  padding: 0 10.34px;
  cursor: pointer;
  line-height: 1.75rem;
  border-radius: 4px;
}

.navbar__signup-button button {
  color: #FFFBF1;
  background-color: #FF0800;
  font-size: 16px;
  padding: 0 5px;
  border: 2px solid #FF0800;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.75rem;
}

.profile-button__container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  height: 100%;
}

.profile-button__container ul {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 0px;
  /* background-color: #FFFBF1; */
  background-color: rgba(255, 251, 241, 0.5);
  list-style-type: none;
  padding-bottom: 334px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: flex-end; */
  width: 1440px;
  /* opacity: .5; */
  padding-top: 2px;
  padding-right: 30px;
  text-align: end;
}

.profile-button__container ul > li {
  margin: 2px 0;
  font-weight: 700;
  /* opacity: 1; */
}

.profile-button__container > button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
  /* color: #2D333f; */
  color: #00483D;
  padding-top: 7px;
}

.profile-button__container li > button {
  background-color: #FF0800;
  color: #FFFBF1;
  border-radius: 4px;
  height: 30px;
  margin-right: 4px;
  /* opacity: 1; */
}
