.query-card {
  /* width: 250px; */
  height: 225px;
  /* background-color: #EFEFEF; */
  background-color: #FFFFFF;
  /* margin: 10px; */
  margin: 2px;
  /* border: 1px solid #CDCDCD; */
  border: 1px solid #D8D9DB;
  text-align: center;
}

.query-card__wrapper {
  height: 100%;
}

.query-card__data-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.query-card__navigation-link,
.query-card__map-link {
  text-decoration: none;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  padding: 8px;
  margin: 0 5px;
  color: #333333;
  background-color: green;
}

.query-card__map-link {
  padding: 8px 20.5px;
}
