
.restaurant-container {
  margin: 0 1rem;
}

.restaurant__name {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #CDCDCD;
}

.restaurant-review__add-link,
.restaurant-review__edit-link {
  text-decoration: none;
  border: 2px solid #B21807;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 0 5px;
  color: #FFFBF1;
  background-color: #B21807;
}

.review-image {
  width: 300px;
}
