.review__title-field,
.review__text-field {
  margin-bottom: .5rem;
  font-family: inherit;
  font-size: 14px;
  width: 30rem;
}

.review__title-field {
  width: 29.875rem;
}

.review__image-preview {
  width: 10rem;
}
/* .review__photo-upload-button {
  display: inline-block;
}

.review__photo-upload-button input[type=file]{
  display: none;
  margin-bottom: .5rem;
} */

.review__submit-button,
.review__edit-link,
.review__delete-link {
  text-decoration: none;
  border: 2px solid #B21807;
  border-radius: 4px;
  margin: 0 5px;
  padding: 3px 5px;
  color: #FFFBF1;
  background-color: #B21807;
  font-size: 16px;
  /* width: 2rem; */
}

.review__edit-link {
  padding: 3px 14.415px;
}



.review-text {
  margin: 0 1rem;
}
